@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&display=swap');
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}



@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, lightgreen, #b3d9ff); /* light green to soft blue */
  }
  25% {
    background: linear-gradient(45deg, #b3d9ff, #e0bbff); /* soft blue to lavender */
  }
  50% {
    background: linear-gradient(45deg, #e0bbff, white); /* lavender to white */
  }
  75% {
    background: linear-gradient(45deg, white, lightgreen); /* white to light green */
  }
  100% {
    background: linear-gradient(45deg, lightgreen, #b3d9ff); /* back to light green */
  }
}

.bg-gradient-animation {
  animation: gradientAnimation 10s ease-in-out infinite; /* 10s duration, ease-in-out for smooth transitions */
}


